html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
  width: 100%;
  height: 100%;
  
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  
  background-color: forestgreen;
  background-image: linear-gradient(to bottom, greenyellow, forestgreen);
  background-repeat: no-repeat;
}

body {
  
  width: 100%;
  height: 100%;
}

header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
  height: 50%;

  background-image: url("../assets/design1_image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  border-width: 0;
  border-bottom-width: 5px;
  border-style: solid;
  border-color: whitesmoke;
  
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}

#slide_transition {
  display: none;
  width: 100%;
  height: 100%;
  
  background-color: white;
}

header h1 {
  position: absolute;
  top: 91%;

  margin: 0;
  padding-left: 10px;

  color: white;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

nav {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;

  width: 100%;
  
  position: fixed;
  top: 25px;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 1;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  float: right;
  clear: right;
}

nav li {
  list-style: none;

  margin: 5px;
}

nav a {
  font-size: 1em;
  font-weight: bold;

  color: white;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

  text-decoration: none;
}

nav a:hover {
  color: limegreen;
}

nav a.current,
nav a.current:hover {
  color: greenyellow;
}

.logo {
  position: fixed;

  left: 11%;
  top: 5px;

  width: 100px;
  height: 100px;

  background-image: url("../assets/nysl_logo.png");
  background-repeat: no-repeat;
  background-size: contain;

  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

  z-index: 2;
}

.page_description {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;

  padding: 5px;

  display: block;

  background-color: rgba(0, 0, 0, 0.5);

  border-style: solid;
  border-width: 0px;
  border-bottom-width: 5px;
  border-color: white;
}

.page_description h2,
.page_description p {
  display: block;

  color: whitesmoke;
  text-shadow: 0px 2px 5px black;
  text-align: center;

  font-weight: bold;
}

section {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  
  float: left;
  clear: left;
  
  border-width: 2px;
  border-style: solid;
  border-collapse: collapse;
  border-color: rgba(0, 0, 0, 1);
}

h2 {
  background-color: white;
  margin: 0px;
}

.events {
  width: 25%;
  height: 50%;
  
  float: right;
  clear: right;
  
  overflow: scroll;
  overflow-x: hidden;
}

.about{
  display: flex;
  flex-direction: column;
  
  width: 75%;
  height: 40%;
}

.about ul{
  list-style: none;
  display: inline-flex;
  
  align-content: center;
  
  margin: 0px;
  padding: 0px;
}

.about li{
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

.contact {
  width: 75%;
  height: 10%;
}

.about article {
  margin: 0px;
  width: 100%;
}

article {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: whitesmoke;

  border-radius: 5px;
  
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

table,
table caption {
  border-collapse: collapse;

  filter: drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.25));
}

th,
table caption {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  padding: 5px;

  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  text-align: center;

  color: white;
  background-color: forestgreen;

  border-color: black;
  border-style: solid;
  border-width: 0;
  border-bottom-width: 2.5px;
}

th:first-child,
table caption {
  border-top-left-radius: 5px;

  background-image: linear-gradient(to right, green, forestgreen);
}

th:last-child,
table caption {
  border-top-right-radius: 5px;

  background-image: linear-gradient(to right, forestgreen, green);
}

tr {
  text-align: center;

  background-color: white;
}

tr:nth-child(2n + 1) {
  background-color: rgb(235, 235, 235);
}

td {
  padding: 5px;
}

table :lastchild > td:first-child {
  border-bottom-left-radius: 5px;
}

table :last-child > td:last-child {
  border-bottom-right-radius: 5px;
}

.sideBySide {
  display: flex;
  align-content: space-between;
}

caption {
  text-align: left;
  font-weight: bold;
}

ol ol {
  list-style-type: lower-alpha;
}

time {
  font-style: italic;
  font-weight: bold;
  color: black;
}

p {
  padding-left: 2.5%;

  text-align: justify;
}

.tip {
  font-weight: bold;
}

label {
  font-weight: bold;
}

footer {
  width: 100%;
  
  background: green;
}