:root {
  --slide-transition-speed: 1s;
  --links-color: green;
  --details-color-a: yellowgreen;
  --details-color-b: green;
  --nav-background: ghostwhite;
  --body-background: forestgreen;
  --footer-background: ghostwhite;
  --text-shadow-settings: 0em 0.05em 0.025em rgba(0, 0, 0, 0.25);
  --box-shadow-settings: 0em 0em 0.25em rgba(0, 0, 0, 0.5);
}

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
  height: 100%;

  margin: 0vw;
  padding: 0vw;

  background-color: var(--body-background);
  background-image: linear-gradient(to bottom, yellowgreen, forestgreen);
  background-repeat: no-repeat;
  
  font-family: 'Roboto Slab', serif;
}

#background-pattern {
  width: 100%;
  height: 100%;
  
  position: absolute;
  
  background-image: url('../assets/background_pattern.png');
  background-repeat: repeat;
  background-size: 4em;
  background-position: left;
  
  opacity: 0.15;
}

nav {
  display: block;

  width: 100%;

  position: sticky;
  top: 0vw;

  background-color: var(--nav-background);

  border-width: 0em;
  border-bottom-width: 0.25em;
  border-style: solid;
  border-color: var(--details-color-b);

  z-index: 1;
}

nav ul {
  display: inline-flex;
  flex-direction: row;

  margin: 0vw;
  padding: 0vw;
}

nav li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  padding: 0.5em;
  padding-right: 5em;

  list-style: none;
}

nav a {
  text-decoration: none;
  text-shadow: var(--text-shadow-settings);

  font-size: 1.25em;
  font-weight: bold;

  color: black;
}

#current {
  color: var(--links-color);
}

nav .collapsible {
  box-sizing: border-box;
  display: inline-block;
}

nav .content {
  box-sizing: border-box;
  display: block;

  margin: 0em;
  padding: 0em;

  position: absolute;

  background-color: aliceblue;

  border-width: 0em;
  border-bottom-width: 0.25em;
  border-style: solid;
  border-color: var(--details-color-b);

  z-index: 2;
}

.content a:hover {
  background-color: aquamarine;
}

header {
  display: block;

  width: 100%;
  height: 25vw;

  position: relative;

  border-width: 0em;
  border-bottom-width: 0.25em;
  border-style: solid;
  border-color: var(--details-color-b);
  
  box-shadow: var(--box-shadow-settings);

  overflow: hidden;
}

.slideshow {
  position: absolute;

  overflow: hidden;
}

.slide {
  width: 100%;

  position: absolute;

  align-self: center;
}

.flex-box {
  display: block;
  
  width: 70%;
  
  text-align: center;
}

section {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  
  width: 75%;
}

aside {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  
  width: 25%;
  
  position: absolute;
}

article {
  display: block;
  
  text-align: justify;
}

article, aside {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
  margin: 1em;
  padding: 1em;
  padding-top: 0.25em;
  
  background-color: var(--footer-background);
  
  border-width: 0em;
  border-bottom-width: 0.25em;
  border-style: solid;
  border-color: var(--details-color-b);
  
  box-shadow: var(--box-shadow-settings);
}

article a, aside a {
  font-weight: bold;
  
  text-decoration: none;
}

ul{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
  margin: 0em;
  padding: 0em;
  padding-left: 0.5em;
}

li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
  margin: 0em;
  padding: 0em;
  
  list-style: none;
}

footer {
  box-sizing: border-box;
  display: block;

  width: 100%;

  margin: 0em;
  padding: 0.1em;

  position: fixed;
  bottom: 0%;

  background-color: var(--footer-background);

  border-width: 0em;
  border-top-width: 0.25em;
  border-style: solid;
  border-color: var(--details-color-a);

  text-align: center;
  
  box-shadow: var(--box-shadow-settings);
}

footer p,
footer a {
  text-decoration: none;
  text-shadow: var(--text-shadow-settings);

  font-size: 1em;
  font-weight: bold;

  color: black;
}

footer a {  
  color: var(--links-color);
}
