html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: darkolivegreen;
  background-image: linear-gradient(to bottom, greenyellow, darkolivegreen);
  background-repeat: no-repeat;

  font-family: sans-serif;
}

header {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
  height: 35%;

  background-image: url("../assets/design1_image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  border-width: 0;
  border-bottom-width: 5px;
  border-style: solid;
  border-color: whitesmoke;
}

header h1 {
  position: relative;
  top: 85%;

  margin: 0;
  padding-left: 10px;

  color: white;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  display: none;
}

nav {
  display: block;

  width: 100%;

  position: fixed;

  top: 0;
  right: 0;

  background-color: rgba(0, 0, 0, 0.5);
	
	z-index: 1;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  float: right;
  clear: right;
}

nav li {
  list-style: none;

  margin: 5px;
}

nav a {
  font-size: 1em;
  font-weight: bold;

  color: white;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

  text-decoration: none;
}

nav a:hover {
  color: limegreen;
}

nav a.current,
nav a.current:hover {
  color: greenyellow;
}

.logo {
  position: fixed;

  left: 5px;
  top: 5px;

  width: 50px;
  height: 50px;

  background-image: url("../assets/nysl_logo.png");
  background-repeat: no-repeat;
  background-size: contain;

  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));

  z-index: 2;
}

.page_description {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;

  padding: 5px;

  display: block;

  background-color: rgba(0, 0, 0, 0.5);

  border-style: solid;
  border-width: 0px;
  border-bottom-width: 5px;
  border-color: white;
}

.page_description h2,
.page_description p {
  display: block;

  color: whitesmoke;
  text-shadow: 0px 2px 5px black;
  text-align: center;

  font-weight: bold;
}

section {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  display: inline-block;

  width: 100%;

  padding: 1.5%;
}

article {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;

  background-color: whitesmoke;

  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

table {
  border-collapse: collapse;

	filter: drop-shadow(0px 0px 2.5px rgba(0, 0, 0, 0.25));
}

th {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
	padding: 5px;

	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
	text-align: center;
	
	color: white;
	background-color: forestgreen;
	
	border-color: black;
	border-style: solid;
	border-width: 0;
	border-bottom-width: 2.5px;
}

th:first-child {
	border-top-left-radius: 5px;
	
	background-image: linear-gradient(to right, green, forestgreen);
}

th:last-child {
  border-top-right-radius: 5px;
	
	background-image: linear-gradient(to right, forestgreen, green);
}

tr {
	text-align: center;
	
	background-color: white;
}

tr:nth-child(2n + 1)
{
	background-color: rgb(235, 235, 235);
}

td {
	padding: 5px;
}

table :lastchild > td:first-child {
	border-bottom-left-radius: 5px;
}

table :last-child > td:last-child {
	border-bottom-right-radius: 5px;
}

.sideBySide {
  display: flex;
  align-content: space-between;
}

caption {
  text-align: left;
  font-weight: bold;
}

ol ol {
  list-style-type: lower-alpha;
}

time {
  font-style: italic;
  font-weight: bold;
  color: black;
}

p {
  padding-left: 2.5%;

  text-align: justify;
}

.tip {
  font-weight: bold;
}
